@import "tailwindcss";

:root {
  --black: #252525;
  --white: #d9d9d9;
  --green: #d0f333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

html {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "VT323";
  font-size: 4rem;
  text-align: center;
}

.side-bar {
  position: relative;
}

.menu {
  position: absolute;
  left: 10px;
  top: 10px;
}

.main-container {
  width: 200px;
  background-color: #383838;
  height: 100vh;
  transform: translateX(-500px);
  transition: all 0.3s ease-out;
}

.animation {
  transform: translateX(0px);
}

.close-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.nav-bar {
  padding: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
}

.card-img {
  padding: 10px;
  background-color: white;
  height: 500px;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 500px);
  align-content: center;
  padding: 20px;
}

.cart-card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 1000px;
  min-width: 600px;
}

.cart-img {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  width: 75px;
}

.cart-invoice {
  background-color: var(--white);
  color: var(--black);
  font-family: "VT323";
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.invoice-header {
  padding: 10px;
  border-bottom: 2px dashed var(--black);
  margin-bottom: 15px;
}

.invoice-total {
  border-top: 2px dashed var(--black);
  margin-top: 15px;
}

.bar-code {
  font-family: "Libre Barcode 128";
}
