@import "tailwindcss";

:root {
  --black: #252525;
  --white: #d9d9d9;
  --green: #d0f333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

html {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Libre Barcode 128";
  font-size: 4rem;
  text-align: center;
}

.side-bar {
  position: relative;
}

.menu-icon {
  background-color: var(--white);
}

.menu {
  background-color: var(--white);
  border-radius: 10px;
  padding: 4px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.main-container {
  position: absolute;
  top: 60px;
  left: 10px;
  border-radius: 10px;
  width: 150px;
  background-color: #383838;
  font-size: 1.2rem;
  display: none;
  flex-direction: column;
  padding: 10px;
  z-index: 1;
}

.close-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.home-container {
  position: relative;
}

.txt-rotate-1 {
  writing-mode: vertical-rl;
  font-family: "VT323";
}

.txt-rotate-2 {
  writing-mode: vertical-rl;
  font-family: "VT323";
  transform: rotate(180deg);
}

.home-img {
  border-left: 10px solid var(--green);
  border-right: 10px solid var(--green);
}

.stripe-1 {
  color: var(--black);
  background-color: var(--white);
  padding: 5px 0px;
  position: absolute;
  top: 40px;
  transform: rotateZ(-7deg);
}
.stripe-2 {
  color: var(--black);
  background-color: var(--white);
  padding: 5px 0px;
  position: absolute;
  top: 350px;
  transform: rotateZ(10deg);
}

.stripe-txt {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  font-size: 1.2rem;
  font-weight: bold;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.street-txt {
  font-weight: 900;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
}

.card-img {
  padding: 10px;
  background-color: white;
  height: 500px;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 500px);
  align-content: center;
  padding: 20px;
}

.cart-card {
  background-color: var(--white);
  color: var(--black);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 1000px;
  min-width: 600px;
}

.cart-img {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  width: 75px;
}

.cart-invoice {
  background-color: var(--white);
  color: var(--black);
  font-family: "VT323";
  padding: 10px;
  margin: 0px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.invoice-header {
  padding: 10px;
  border-bottom: 2px dashed var(--black);
  margin-bottom: 15px;
}

.invoice-total {
  border-top: 2px dashed var(--black);
  margin-top: 15px;
}

.bar-code {
  font-family: "Libre Barcode 128";
}
